.listeChoixOpe {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    li {
        position: inherit;
        border-left: 1px solid $color1;
        border-bottom: 1px solid $color1;
        padding: 0;
        height: 160px;
        &:first-child {
            border-left: none;
        }
    }
    &__ctPictoOp {
        position: relative;
        display: block;
        height: 160px;
        padding: 25px 0 0;
        color: Black;
        cursor: pointer;
        text: {
            transform: uppercase;
            align: center;
        }
        font-size: 14px;
        &.activePicto{
            &:before, &:after {
                content: "";
            }
            [class^="icon-"] {
                color: Black;
            }
        }
        &:hover{
            background-color: $color6;
            color: White;
            [class^="icon-"] {
                color: White;
            }
        }
        [class^="icon-"] {
            display: block;
            font-size: 72px;
            margin-bottom: 25px;
            color: $color6;
        }
        &:before {
            margin-left: -10px;
            z-index: 2;
            @include triangle (
                $borderColor: White,
                $borderWidth: 0 10px 10px 10px,
                $directionTriangle: top,
                $position: absolute,
                $bottom: -1px,
                $left: 50%
            );
        }
        &:after {
            margin-left: -11px;
            @include triangle (
                $borderColor: Black,
                $borderWidth: 0 11px 11px 11px,
                $directionTriangle: top,
                $position: absolute,
                $bottom: 0,
                $left: 50%
            );
        }
    }
    &__ctDetails {
        display: none;
        position: absolute;
        z-index: 1;
        left: 0;
        border: 1px solid Black;
        text-align: left;
        width: 100%;
        padding: 15px;
        input[type="checkbox"] {
            vertical-align: middle;
        }
        label {
            margin-left: 10px;
            font-weight: bold;
            display: inline-block;
            width: calc(100% - 30px);
            vertical-align: top;
        }
    }
    .separForDetail {
        border: none;
        height: inherit;
        & + li {
            border-left: none;
        }
    }
}