.listReferences {
    display: flex;
    justify-content: center;
    margin: 10px 0 0;

    &__ct {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        width: 50vw;
        justify-content: space-around;
        align-items: center;
    }

    &__block {
        position: relative;
        margin: 20px 0 0;

        &:hover {
            .listReferences {
                &__overlay {
                    opacity: 0.7;
                }
                &__voir {
                    bottom: 30px;
                    opacity: 1;
                }
            }
        }
    }
    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        background-color: black;
        opacity: 0;
        width: 100%;
        height: 100%;
        @include transition($transition: opacity .5s linear);
        
    }
    &__desc {
        position: absolute;
        top: 30px;
        left: 50%;
        transform: translate(-50%);
        color: White;
        background-color: $color6;
        opacity: 0.8;
        padding: 10px;
        margin: 0;
        width: 80%;
        text-align: center;
        font: {
            size: 16px;
            weight: bold;
        }
        @include transition($transition: all .5s ease-in-out);
    }
    &__voir {
        text-decoration: none;
        position: absolute;
        bottom: -40px;
        left: 50%;
        transform: translate(-50%);
        opacity: 0;
        @include transition($transition: all .5s ease-in-out);
        padding: 10px;
        border: 1px solid $color6;
        border-radius: 15px;
        background-color: white;
        color: $color6;
        &:hover {
            background-color: White;
            color: $color6;
            border: 1px solid $color6;
        }
    }
}