.listeIcons {
    list-style: none;
    padding: 0;
    @include displayFlex;
    @include prefix((flex-wrap: wrap));
    [class^="icon-"] {
        font-size: 30px;
    }
    &__name {
        margin: 10px 0 0;
    }
    li {
        padding: 10px;
        margin: 10px 10px 0 0;
        border: 1px solid $color1;
        text-align: center;
    }
}